.container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
} 
.navbar li{
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
ul{
    margin: 0px;
    padding: 0px;
    position: fixed;
}
li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.4s;
}
li a:hover{
    color: #0054d0;
}
.navbar{
    background-color: #222835;
    padding: 12px;
    margin: 0px;
    width: 100vw;
    position: relative;
    padding-left: 4em;
    display: block;
}
.navbar li{
    padding-right: 2em;
}
body{
    font-family: 'Conv_helveticaneuecyr-roman', sans-serif;
    margin: 0px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    min-width: 85px;
    height: 0;
    overflow: hidden;
    /* transition: height 2s ease-in; */
    transition: color 0.4s;
}
.dropdown-content p{
    margin: 0px;
    padding: px;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 6px 0px 7px 10px;
    transition: height 10s;
}
hr{
    margin: 0px;
}
.dropdown:hover .dropdown-content{
    display: block;
    height: 100px;
    color: #0054d0;
}
.dropdown-content p:hover{
    background-color: #0054d0;
    color: #fff;
    transition: height 10s;
}

#l5{
    /* float: right; */
}
#l1{
    float: left;
    padding-top: 0.9em;
    padding-right: 37%;
}
#l4{
    padding-right: 35%;
}
#lmain{
    position: absolute;
    top: 1.5em;
    left: 4em;
    display: none;
}
main{
    /* display: inline-block;
    margin-top: 4em;
    height: 60vw; 
    because every property is not inheritable*/

}
aside{
    width: 20vw;
    background-color: aquamarine;
    display: inline-block;
    margin-top: 3em;
    height: 60vw;
}
.bolii{
    width: 70vw;
    background-color: burlywood;
    display: inline-block;
    margin-top: 3em;
    height: 60vw;
}


@media(max-width:1240px){
    #lmain{
        display: block;
    }
    #l1{
        display: none;
    }
    #l2{
        display: none;
    }
    #l3{
        display: none;
    }
    #l4{
        display: none;
    }
    #l5{
        display: none;
    }
    .navbar{
        padding: 2em;
    }
}














/* transitions of drop down menu not working, align content at a specific position of navbar */