*{
     box-sizing: border-box; 
}
/* NAVBAR */
.container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
} 
.navbar li{
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
ul{
    margin: 0px;
    padding: 0px;
}
li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.4s;
}
.cards hr{
    margin:1px;
}
li a:hover{
    color: #0054d0;
}
.navbar{
    background-color: #222835;
    padding: 12px;
    margin: 0px;
    width: 100vw;
    position: fixed;
    left: 0;
    display: block;
}
.navbar li{
    padding-right: 2em;
}
body{
    font-family: 'Conv_helveticaneuecyr-roman', sans-serif;
    margin: 0px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    min-width: 85px;
    height: 0;
    overflow: hidden;
    /* transition: height 2s ease-in; */
    transition: color 0.4s;
}
.dropdown-content p{
    margin: 0px;
    padding: px;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 6px 0px 7px 10px;
    transition: height 10s;
}
hr{
    margin: 0px;
}

.dropdown:hover .dropdown-content{
    display: block;
    height: 100px;
    color: #0054d0;
}
.dropdown-content p:hover{
    background-color: #0054d0;
    color: #fff;
    transition: height 10s;
}

#l5{
    /* float: right; */
}
#l1{
    float: left;
    padding-top: 0.9em;
    padding-right: 37%;
}
#l4{
    padding-right: 35%;
}
#lmain{
    position: absolute;
    top: 0.8em;
    display: none;
    background-color: #202836;
    color: white;
    border: 0 none;
    font-size: 1.3em;
}
#lmain2{
    width: 100vw;
    background-color: #202836;
    color: white;
    margin: .3em;
    display: none;

}
main{
    margin-top: 8em;

}
aside{
    width: 20vw;
    display: inline-block;
    height: 60vw;
}
.bolii{
    width: 70vw;
    display: inline-block;
    height: 60vw;
}


@media(max-width:1240px){
    #lmain{
        display: block;
    }
    #l1{
        display: none;
    }
    #l2{
        display: none;
    }
    #l3{
        display: none;
    }
    #l4{
        display: none;
    }
    #l5{
        display: none;
    }
    .navbar{
        padding: 2em;
    }
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .6s;
    width: 70%;
    margin: auto;
    border: solid;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
    border-radius: 50px;
    width: 32em;
    display: block;
    margin: auto;
  }
.card h3{
    margin: auto 0 auto 47px;
}
  
.cards {
padding: 2px 16px;
}

@media(max-width:700px){

    aside{
        width: 80vw;

    }
    .bolii{
        width: 100%;
    }

}

/* ___________________________________ */
body{
    height: 800px;
    display: flex;
}
img{
    border-radius: 50%;
    width: 8vw;
}
aside{
    width: 30vw;
    display: inline-block;
    height: 100%;
    position: relative;
    top: 9em;
}
.a ,.b{
    display: inline-block;
    width: 32.2%;
    height: 100px;
}
button {
    width: 100%;
}
#abc{
    height: 25%;
    position : relative;
}
#abc>button{    display: inline;
    width: 15%;
    height: 15%;
    background: #0054d0;
    /* padding-right: 10%; */
    margin-right: 17%;
    top: 80px;
    left: 10%;
    /* margin-bottom: 2%; */
    position: absolute;
    /* padding-bottom: 10%; */}
#abc>img{
    margin-left: 29%;
    margin-top: 4%;
    height: 80%;
    width: 40%;

}
#abc>p{
    margin: 0px;
    text-align: center;
}
.thumbnail{
    display: inline-block;
    height: 80%;
    width: 30%;
}
#icons{
    padding-left: 40%;
    padding-right: 40%; 
    padding-top: 10px;
    height: 10%;
}
#data{
    height: 15%;
    background: brown;
}
#data>div{
    display: block;
    background: #202836;
    height: 50%;
    position: relative;
    color: white;
}
#data>div>img,#data>div>div{
    display: inline-block;
    margin-top: 1px;
    margin-right: 62px;
    height: 20px;
}
#data>div>img{
    position: absolute;
    top: 10px;
    top: 5px;
    left: 10px;
    height: 29px;
}
#data>div>div{
    padding-left: 14%;
    margin-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
} 
#data>div>.title{
    padding-left: 33%;
}
.info{
    height: 25%;
    width: 100%;
    display: inline-block;
    padding-left: 10%
}
main{
    display: inline-block;
    height: 100%;
    width: 70vw;
}
#sections,.content{
    margin-top: 30px;
    height: 100%;
    background: #f6f6f7;
    display: flex;
    padding-top: 1%;
}
#sections li{
    display: inline-block;
    padding-right: 10px;
}
#sections li >button{
    border: none;
    background: none;
}
a{
    text-decoration: none;
}

.content{
    margin: 10%;
    height: 60%;
    padding-left: 10%
}
.content >ol li{
    height: 10%;
}
.content >ol{
    padding-top: 5%;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin : 0px;
}
.content ol li>a{
}
#section-nav{
    height: 5%;
    position: relative;
    left: 6em;
}
.content{
    display: none;
}
#con-sec3{
    display: block;
}